/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/04/2015, 08:20:59 PM
    Author     : Trebor
*/

body
{ 
     background-color: #000;
     font-family:fantasy;
}

.msj
{
    color:chartreuse;
    
}

.tabla
{
    border: thin double  black;
}

.caption
{
    font-family: "Verdana";
    font-size: 24pt;
    font-style: italic;
    color: yellow;
}

.header
{
    color:gainsboro;
    text-align: center;
    font-style:italic;
     font-size:  35pt;
    font-style: italic;
}

.pie
{
    color:#000;
    font-style: oblique;
    marquee-style: slide;
    marquee-direction: forward;
    marquee-loop: infinite;
}

.impar
{
    background-color: gold;
}

.par
{
    background-color:burlywood;
    color: white
}

.impari
{
     background-color: black;
     color: white;
     text-align: center;
}

.par
{
    text-align: center;
}

.h1
{
    color:  orange;
    text-align: center;
    font-size : 24pt; 
    font-family : verdana,arial; 
    text-decoration : underline;
}
.LadoIzdLogin
{
    font-size: 20pt;
}
