<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div align="center">
             
    <h:head>
        <title>DEUDOR</title>
    </h:head>
        
    <h:body>
            <ui:composition template="/Templates/master.xhtml">
            <ui:define name="titulo">
                       #{msjs.deudorHeader}
           </ui:define>
            <ui:define name="encabezado">
                <ui:include src="/secciones/cueva/header.xhtml"/>
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="/secciones/cueva/LadoIzq.xhtml"/>
            </ui:define>
            
            <ui:define name="contenido">
                <div align="center" style="color: red">
                <br></br>        
                <h:graphicImage library="img" name="d2.jpg"/>
                <h3  align="center" style=" border:darkred double thick ">#{msjs.deudor}&nbsp;#{Cuate.cuate.nombres}&nbsp;#{Cuate.cuate.apellidos}&nbsp;PAGUE O SERA CONSIGNADO (A) A LAS AUTORIDADES!!</h3>
               
               <h:dataTable  value="#{Cuate.cuate}" var="cuate"  style="border: red double thick "  styleClass="tabla" captionClass="caption" rowClasses="impari,par" cellpadding="4 " cellspacing="2">
                            <f:facet name="caption">#{conf.PageTitulo}</f:facet>
                
                            <h:column headerClass="header" footerClass="pie">
                                <f:facet name="header">Nombre</f:facet>
                                #{Cuate.cuate.nombres}&nbsp;&nbsp;&nbsp;#{Cuate.cuate.apellidos}
                            </h:column>

                            <h:column headerClass="header" footerClass="pie"  >
                                <f:facet name="header">#{msjs.IntrusoHeader}</f:facet>
                                <h:graphicImage library="img" name="#{cuate.foto}.png"/>
                            
                            </h:column>
                            
                 </h:dataTable>

                <h:form>
                 <h:commandButton action="index.xhtml" value="inicio"/>
                </h:form>
                
                </div>
               
            </ui:define>
        </ui:composition>
    </h:body>
   </div>
</html>

