<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>INTRUSO</title>
    </h:head>
    <h:body>
            <ui:composition template="/Templates/master.xhtml">
            <ui:define name="titulo">
            </ui:define>
            
            <ui:define name="encabezado">
            <ui:include src="/secciones/cueva/header.xhtml"/>
            </ui:define>
            
            <ui:define name="lado">
                <ui:include src="/secciones/cueva/LadoIzq.xhtml"/>
            </ui:define>
                
            <br></br>
            <ui:define name="contenido">
                <center>
                <h:graphicImage  library="img" name="warning.jpg" style=" alignment-adjust:  central"/>
                <br></br>
                <h:graphicImage  library="img" name="gifs.gif" style=" alignment-adjust:  central"/>
                <h1 align="center"  style="color:red " > #{msjs.AlertaIntruso}</h1>
                <h3 style=" color:  firebrick" class=" LadoIzdLogin">#{msjs.HeaderIntruso}</h3>
                    
                <br></br>
                <h:form>
                <h:commandButton action="index.xhtml" value="inicio"/>
                
                </h:form>
               </center>
                
                
            </ui:define>
        </ui:composition>
    </h:body>
</html>
